<section>
  <%= partial 'shared/title' %>
</section>

<section>
  <pre class="figure"><code>&lt;<span class="tagname">img</span> <span class="attribute">href=&quot;/images/eames/lounge.jpg&quot;</span> <span class="attribute">alt=&quot;Eames Lounge Chair&quot;</span>/&gt;</code></pre>
</section>

<section>
  <h4>Tagname</h4>
  <p><span class="tagname">img</span>: Embed an image into a page</p>
</section>

<section>
  <h4>Attributes</h4>
  <ul>
    <li><span class="attribute">href</span>:  A url pointing to an image file.</li>
    <li>
      <p><span class="attribute">alt</span>: A text alternative to the image.</p>
      <p>Used by folks with vision imparements and by search engines.</p>
    </li>
  </ul>
</section>