body.navigator {
  padding-top: 48px;

  color: #333;
  
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 24px 0;
  }
  
  h1, h2 {
  
    font-size: 48px;
    line-height: 48px;
  }
  
  h3, h4 {
    font-size: 24px;
    line-height: 24px;
  }
  
  h5, h6 {
    font-size: 12px;
    line-height: 12px;
  }
  
  h2, h4, h6 {
    color: #666;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 24px;
  }

  aside {
    width: 272px;
    float: right;
    padding: 24px;
    margin-top: 72px;
    
    background-color: #333;
    color: #ccc;
    
    ul {
      padding: 0;
      list-style: none;
      
      font-size: 24px;
      
      li {
        padding: 0;
        
        margin-bottom: 12px;
      }
    }
    
    a {
      padding: 0 6px;
      
      color: #ccc;
      background-color: #555;
      
      text-decoration: none;
    }
  }
  
  ol {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    
    li {
      counter-increment: customlistcounter;
      margin-left: -72px;
      margin-bottom: 18px;
      
      font-size: 48px;
      line-height: 48px;
    }
    
    li:before {
      content: counter(customlistcounter);
      float: left;
      width: 48px;
      padding-right: 24px;
      
      color: #ccc;
      
      font-weight: bold;
      text-align: right;
    }
    
    &:first-child {
      counter-reset: customlistcounter;
    }
    
    a {
      margin-left: -6px;
    }
  }

}