<section>
  <h1>Responsive design</h1>
  <h2>Build a responsive marketing page for Suggest-o-tron</h2>
  <a class="preview" href="/responsive_design/example/"><img src="/images/responsive_design/example.png" /></a>
</section>

<section>
  <h3>Set up</h3>
  <p>On <a href="http://c9.io" target="_top">Cloud9</a>, clone a new workspace from this url: <code>git://github.com/htmlandcssclass/responsive-design.git</code></p>
</section>
