---
title: "Hello, World!"
excercises:
  - unstyled
  - modernist
  - nametag
  - tron
breadcrumbs:
  - helloworld
---

<h2>Hello, World!</h2>
<h3>Examples</h3>
<ul>
  <% current_page.data.excercises.each do |e| %>
  <li><a href="/helloworld/<%= e %>.html"><%= e %></a></li>
  <% end %>
</ul>