<section>
  <%= partial 'shared/title' %>
  <h2>Element decoration</h2>
  <p>Let's make a simple <a href="/paradise_pickles/styled/">webpage about a book</a>.</p>
  <p>We'll mark up the content in HTML first, as usual.</p>
  <p>Then we'll style the content with CSS.</p>
</section>

<a class="preview" href="/bibliography/styled"><img src="/images/bibliography.png" /></a>
