<section>
  <%= partial 'shared/title' %>
  <h2>Display property</h2>
</section>

<a class="preview" href="/bibliography/styled/"><img src="/images/bibliography/styled.png" /></a>

<section>
  <p>Explore the <code>display</code> property by creating a <a href="/bibliography/styled/">bibliography of awesome science fiction</a>.</p>
</section>

<section>
  <h3>Copy</h3>
  <pre><code>SciFi Bibliography

Doctorow, Corey.
Down and Out in the Magic Kingdom.
Seaford, NY, U.S.A. Tor Books

Gibson, William.
"The Road to Oceania".
The New York Times 25 June 2003

Shteyngart, Gary.
Super Sad True Love Story.
London HarperCollins</code></pre>
</section>

<%= partial 'shared/colors', locals: {colors: data.colors.bibliography} %>
<%= partial 'shared/patterns', locals: {patterns: data.patterns.bibliography} %>
