<section>
  <%= partial 'shared/title' %>
  <h2>Color, background, and border</h2>
  <a class="preview" href="/paradise_pickles/styled/"><img src="/images/paradise_pickles/styled.png" /></a>
  <p>Let's make a simple webpage about a book.</p>
</section>

<section>
  <h3>Set up</h3>
  <p>Create a new workspace on <a href="http://c9.io">Cloud9</a> named <code>paradise_pickles</code>.</p>
</section>

<section>
  <h3>Copy</h3>
    <pre><code>Paradise Pickles & Preserves

By early June the southwest monsoon breaks
and there are three months of wind and water
with short spells of sharp, glittering sunshine
that thrilled children snatch to play with.
The countryside turns an immodest green.
Boundaries blur as tapioca fences take root and bloom.
Brick walls turn mossgreen. Pepper vines snake up electric poles.
Wild creepers burst through laterite banks and spill
across the flooded roads. Boats ply in the bazaars.
And small fish appear in the puddles that fill
the PWD potholes on the highways.

Slanting silver ropes slammed into loose earth, plowing it up like gunfire.

It was raining when Rahel came back to Ayemenem.
Slanting silver ropes slammed into loose earth,
plowing it up like gunfire. The old house on the hill
wore its steep, gabled roof pulled over its ears like a low hat.
The walls, streaked with moss, had grown soft,
and bulged a little with dampness that seeped up from the ground.
The wild, overgrown garden was full of the whisper and scurry of small lives.
In the undergrowth a rat snake rubbed itself against a glistening stone.
Hopeful yellow bullfrogs cruised the scummy pond for mates.
A drenched mongoose flashed across the leaf-strewn driveway.

From God of Small Things by Arundhati Roy.

Set against a background of political turbulence,
this novel tells the story of twins Estha and Rahel.</code></pre>
</section>

<%= partial 'shared/colors', locals: {colors: data.colors.paradise_pickles} %>
<%= partial 'shared/patterns', locals: { patterns: data.patterns.paradise_pickles } %>
<%= partial 'shared/images', locals: { images: data.images.paradise_pickles } %>
