<section>
  <%= partial 'shared/title' %>
  <p>In class we took <a href="/homework_class_1/unstyled/">plain markup</a> and made it look <a href="/homework_class_1/modernist/">modernist</a>.</p>
  <p>Let's give the same HTML a couple of new styles.</p>
</section>

<section>
  <h2>Tron</h2>
  <a class="preview" href="/homework_class_1/tron/"><img src="/images/helloworld/tron.png" /></a>
  <p>Let's give our page a retro, high-tech feel inspired by Tron.</p>
</section>

<section>
  <h3>Setup</h3>
  <ol>
    <li>Create a new stylesheet named <code>tron_style.css</code>.</li>
    <li>
      <p>Link your new stylesheet to your HTML file.</p>
      <p>Change your <code>link</code> element to look like this:</p>
      <pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;tron_style.css&quot;&gt;</code></pre>
    </li>
  </ol>
</section>

<%= partial 'shared/colors', locals: {colors: data.colors.helloworld_tron} %>

<section>
  <h2>Nametag</h2>
  <a class="preview" href="/homework_class_1/nametag/"><img src="/images/helloworld/nametag.png" /></a>
  <p>Now let's make our page look like a name tag.</p>
</section>

<section>
  <h3>Setup</h3>
  <ol>
    <li>Create a new stylesheet named <code>nametag_style.css</code>.</li>
    <li>
      <p>Link your new stylesheet to your HTML file.</p>
      <p>Change your <code>link</code> element to look like this:</p>
      <pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;nametag_style.css&quot;&gt;</code></pre>
    </li>
  </ol>
</section>

<%= partial 'shared/colors', locals: {colors: data.colors.helloworld_nametag} %>
