<section>
  <h1>Suggest-o-tron</h1>
  <h2>Build a static prototype</h2>
  <a class="preview" href="/suggest_o_tron/example/"><img src="/images/suggest_o_tron/example.png" /></a>
  <p>Use all your layout skills to make the front end of a web app.</p>
</section>

<section>
  <h3>Set up</h3>
  <ul>
    <li>Create a new workspace on <a href="http://c9.io">Cloud9</a> named <code>suggestotron</code>.</li>
  </ul>
</section>

<%= partial 'shared/wireframes', locals: {wireframes: data.images.suggestotron} %>

<section>
  <h3>Copy</h3>
  <pre><code>SF Rubyists' Topics

Topics
Past topics
Members

102 Contributing to open source software
87  Testing Backbone.js
76  An introduction to Ember.js
43  Best practices for pair programming

Let's stay in touch
Like us on Facebook
Follow us on Twitter
Suggestioneers needed!

Sugget-o-tron is growing pretty quickly these days. We’re looking for some smart, fun people, who do really great work.

We encourage a healthy work-life balance and pay market-rate salaries.

Some positions we are looking to fill:

Designer with front-end skills
Senior front-end engineer
Javascript ninja
Senior Rails developer</code></pre>
</section>
