---
title: "Hello, World!"
---

<h1>Hello, World!</h1>

<p>Let's make a little webpage.</p>

<h2>Examples</h2>
<ol>
  <% data.helloworld.exercises.each do |e| %>
  <li><a href="/examples/helloworld/<%= e %>/"><%= e %></a></li>
  <% end %>
</ol>