<section>
  <h3>Colors</h3>
  <ul class="colors">
    <% colors.each do |color, label| %>
    <li class="color">
      <div class="swatch" style="background-color: <%= color %>"></div>
      <p class="label"><%= label %></p>
      <p class="value"><code><%= color %></code></p>
    </li>
    <% end %>
  </ul>
</section>