
<section>
	<h1>HTML and CSS Class</h1>
	<h2>Projects</h2>
</section>

<section>
  <h3>Get ready</h3>
  <ol>
    <li>Install <a href="http://www.google.com/chrome/">Google Chrome</a></li>
    <li>Sign up for a free acount at <a href="http://c9.io/">Cloud 9 IDE</a></li>
  </ol>
</section>

<section>
	<h3>Class 1</h3>
	<ol>
	  <li><a href="/helloworld">Hello, world!</a></li>
	  <li><a href="/eames">Charles and Ray Eames</a></li>
	  <li><a href="/homework_class_1">Homework</a></li>
	</ol>
</section>