
<section>
	<h1><span class="html">HTML</span> <br/><span class="and">&amp;</span> <span class="css">CSS</span></h1>
</section>

<section>
  <h3>Get ready</h3>
  <ol>
    <li>Install <a href="http://www.google.com/chrome/">Google Chrome</a></li>
    <li>Sign up for a free acount at <a href="http://c9.io/">Cloud 9 IDE</a></li>
  </ol>
</section>

<section>
	<h2>Class 1</h2>
	<ol>
	  <li><a href="/helloworld">Hello, World!</a></li>
	  <li><a href="/eames">Charles and Ray Eames</a></li>
	  <li><a href="/homework_class_1">Homework</a></li>
	</ol>
</section>

<section>
	<h2>Class 2</h2>
	<ol>
	  <li><a href="/paradise_pickles">Paradise Pickles &amp; Preserves</a></li>
	</ol>
</section>