
<section>
	<h1>HTML and CSS Class</h1>
</section>

<section>
  <h3>Get ready</h3>
  <ol>
    <li>Install <a href="http://www.google.com/chrome/">Google Chrome</a></li>
    <li>Sign up for a free acount at <a href="http://c9.io/">Cloud 9 IDE</a></li>
  </ol>
</section>

<section>
	<h2>class 1</h2>
	<ol>
	  <li><a href="/helloworld">hello, world!</a></li>
	  <li><a href="/eames">charles and ray eames</a></li>
	  <li><a href="/homework_class_1">homework</a></li>
	</ol>
</section>

<section>
	<h2>class 2</h2>
	<ol>
	  <li><a href="/paradise_pickles">Paradise Pickles &amp; Preserves</a></li>
	</ol>
</section>