<aside>
  <h3>Get ready</h3>
  <ul>
    <li>Install <a href="http://www.google.com/chrome/">Google Chrome</a></li>
    <li>Sign up for a free acount at <a href="http://c9.io/">Cloud 9 IDE</a></li>
  </ul>
</aside>
<h1>HTML and CSS Class</h1>
<h2>Projects</h2>
<ol>
  <li><a href="/assignments/helloworld">Hello, world!</a></li>
  <li><a href="/assignments/eames">Charles and Ray Eames</a></li>
</ol>