
<section>
	<h1><span class="html">HTML</span> <br/><span class="and">&amp;</span> <span class="css">CSS</span></h1>
</section>

<section>
  <h3>Get ready</h3>
  <ol>
    <li>Install <a href="http://www.google.com/chrome/">Google Chrome</a></li>
    <li>Sign up for a free acount at <a href="http://c9.io/">Cloud 9 IDE</a></li>
  </ol>
</section>

<section>
	<h2>Projects</h2>
	<ol>
	  <li><a href="/hello_world/">Hello, World!</a></li>
	  <li><a href="/eames/">Charles and Ray Eames</a></li>
	  <li><a href="/homework_class_1/">Homework</a></li>
	  <li><a href="/paradise_pickles/">Paradise Pickles &amp; Preserves</a></li>
	  <li><a href="/bibliography/">Sci Fi Bibliography</a></li>
    <li><a href="/floating_block_layouts/">Floating Block Layouts</a></li>
    <li><a href="/suggest_o_tron/">Suggest-o-tron</a></li>
	</ol>
</section>