<section>
	<%= partial 'shared/title' %>
	<h2>Paragraphs, Images and Links</h2>
	<a class="preview" href="/eames/styled/"><img src="/images/eames/styled.png" /></a>
</section>

<section>
	<p>We're going to create a simple web page containing information about two prolific, influential designers.</p>
	<p>First we'll mark up the content in HTML.</p>
	<p>Then we'll style the content with CSS.</p>
</section>

<section>
	<h3>Set up</h3>
	<ol>
		<li>Create a new workspace on <a href="http://c9.io">Cloud9</a> named <code>eames</code>.</li>
	</ol>
</section>

<section>
	<h3>Markup</h3>
  <p>Let's mark up some text about Charles and Ray.</p>
  <p>When we're finished with this section your page should <a href="/eames/unstyled/">look a bit like this</a>.</p>
	<ol>
		<li>Create a new file named <code>index.html</code></li>
		<li>
			<p>Mark up the following text. making each piece of text into an <code>h1</code>, <code>h2</code>, or <code>p</code> tag.</p>
			<pre><code>Charles and Ray Eames

Charles Ormond Eames, Jr (1907–1978)
and Bernice Alexandra "Ray" Eames (1912–1988)
were American designers, who worked in
and made major contributions
to modern architecture and furniture.
They also worked in the fields
of industrial and graphic design,
fine art and film.

Accomplishments

The Eames' pioneered technologies,
such as the molded plywood, fiberglass,
plastic resin chairs and the wire mesh chairs
designed for Herman Miller.
Charles and Ray would soon channel Charles'
interest in photography into the production of short films.

Growing up

Charles Eames, Jr (June 17, 1907 – August 21, 1978)
was born in St. Louis, Missouri.
Charles was the nephew of St. Louis architect William S. Eames.
While attending high school, Charles worked at the Laclede Steel Company part-time,
where he learned about engineering, drawing, and architecture.

Ray-Bernice Alexandra Kaiser Eames was born in Sacramento, California.
She graduated from Bennett Women's College in Millbrook, New York,
and moved to New York, where she studied abstract expressionist painting
with Hans Hofmann. One of her paintings is in the permanent collection
of The Whitney Museum of American Art.</code></pre>
		</li>
		<li>
			<p>Include an image by adding an element with the <code>img</code> tagname.</p>
			<p>Use the <code>src</code> attribute to specify a url pointing to the image.</p>
			<pre><code>&lt;img src=&quot;http://htmlandcssclass.com/eames/eameslounge.jpg&quot; alt=&quot;Eames Loungestr&quot;/&gt;</code></pre>
		</li>
		<li>
			<p>Create a hyperlink using an element with the <code>a</code> tagname.</p>
			<p>Clicking content between the opening and closing <code>a</code> tags will navigate your browser to the URL in the <code>href</code> attribute.</p>
			<p>Here's an example of an <code>a</code> tag.</p>
			<pre><code>&lt;a href=&quot;http://eamesdesigns.com/&quot;&gt;Eames Designs&lt;a/&gt;</code></pre>
		</li>
	</ol>
</section>
<section>
	<h3>Style</h3>
	<ol>
	  <li><a href="/eames/styled/">Styled</a></li>
	</ol>
</section>