<section>
  <%= partial 'shared/title' %>
  <h2>Paragraphs, Images and Links</h2>
  <a class="preview" href="/eames/styled/"><img src="/images/eames/styled.png" /></a>
  <p>Create a simple web page about two prolific, influential designers.</p>
</section>

<section>
  <h3>Set up</h3>
  <ul>
    <li>Create a new workspace on <a href="http://c9.io">Cloud9</a> named <code>eames</code>.</li>
  </ul>
</section>

<section>
  <h3>Markup</h3>
  <ul>
    <li>
      <p>Mark up headlines with the <code>h1</code> tagname, sub-heads with the <code>h2</code> tagname and paragraphs with the <code>p</code> tagname.</p>
    </li>
    <li>
      <p>Include an image by adding an element with the <code>img</code> tagname.</p>
    </li>
    <li>
      <p>Create a hyperlink using an element with the <code>a</code> tagname.</p>
    </li>
  </ul>
</section>

<%= partial 'shared/images', locals: {images: data.images.eames} %>

<section>
  <h3>Copy</h3>
  <pre><code>Charles and Ray Eames

Charles Ormond Eames, Jr (1907–1978)
and Bernice Alexandra "Ray" Eames (1912–1988)
were American designers, who worked in
and made major contributions
to modern architecture and furniture.
They also worked in the fields
of industrial and graphic design,
fine art and film.

Accomplishments

The Eames' pioneered technologies,
such as the molded plywood, fiberglass,
plastic resin chairs and the wire mesh chairs
designed for Herman Miller.
Charles and Ray would soon channel Charles'
interest in photography into the production of short films.

Growing up

Charles Eames, Jr (June 17, 1907 – August 21, 1978)
was born in St. Louis, Missouri.
Charles was the nephew of St. Louis architect William S. Eames.
While attending high school, Charles worked at the Laclede Steel Company part-time,
where he learned about engineering, drawing, and architecture.

Ray-Bernice Alexandra Kaiser Eames was born in Sacramento, California.
She graduated from Bennett Women's College in Millbrook, New York,
and moved to New York, where she studied abstract expressionist painting
with Hans Hofmann. One of her paintings is in the permanent collection
of The Whitney Museum of American Art.</code></pre>
</section>
