<section>
	<h2>Paragraphs, Images and Links</h2>
	<p>We're going to create a simple web page containing information about two talented, prolific designers.</p>
	<p>We'll start by marking up the content in HTML.</p>
	<p>Then we'll style the content with CSS.</p>
</section>
<section>
	<h3>Who ever said that pleasure wasn't funcitonal?</h3>
	<ol>
	  <li><a href="/eames/unstyled/">Unstyled</a></li>
	  <li><a href="/eames/styled/">Styled</a></li>
	</ol>
</section>